/* Grid */
.grid {
    width: 100%;
    overflow-x:auto;
    overflow-y:auto;
}
    .grid .grid-header {
        height: 50px;
    }

    .grid .grid-content, .tablescroll_wrapper, .tablescroll {
        height: calc(100% - 25px);
    }

.selected{
    background-color: #c3ecff!important;
}
.grid th, td {
    border: 1px solid #d9d9d9;
}
.grid table th {
    font-size: 15px;
    background-color: #f0f0f0;
    height: 40px;
    text-align: left;
    font-weight: 700;
}

    .grid table th .cell {
        padding: 10px 16px 10px 16px!important;
    }

.grid table td {
    border-bottom: 1px solid #bbbbbb;
    padding: 0px 8px 0px 8px!important;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.grid table td input[type="checkbox"]{
    margin-left: 8px;
}
.grid table td .cell {
    padding: 0px 0px 0px 8px !important;
}

.grid table tr.el-table__row th {
    z-index:1;
    position:sticky;
    top:0px;
    left:0;
    font-size: 13px;
    font-weight: bold !important;
    text-align: center !important;
}
.grid tbody tr{
    height: 40px;
}
.grid tbody tr:nth-child(2n) {
    background-color:#f0f0f0;
}

.grid tbody tr:hover {
    background-color:#ebe6e5;
    cursor: pointer;
}

.grid tbody tr #id:hover {
    background-color: none!important;
    cursor: pointer;
}

.grid table td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}