.header {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 204px);
    height: 60px;
    border-bottom: 1px solid #ccc;
}
    .header .menu-title {
        float: left;
        padding-left: 16px;
        font-size: 24px;
        font-weight: bold;
        min-width: 200px;
    }
    .header .header-right{
        display: flex;
        margin-right: 5px;
        align-items: right;
        margin-left: calc(100% - 1041px);
        padding-left: 4px;
    }
    .header .shop-info {
        padding: 8px;
        font-size: 16px;
        float: right;
    }
        .header .link-home{
            margin-top: 15px;
            padding-top: 5px;
            height: 30px;
            width: 220px;
            border-right: 1px solid #ccc;
            margin-right: 20px;
        }
        .header .link-home a{
            display: flex;
            color: #026b97;
        }
        .header .link-home a:hover{
            cursor: pointer;
            color: #0088c1;
        }
        .header .link-home .icon-back{
            width: 15px;
            height: 10px;
            margin-top: 4px;
            margin-right: 12px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('assets/icons/long-arrow-alt-left-solid.svg');
        }
        .header .shop-info select {
            height: 40px;
            width: 210px;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: medium;
            font-size: 13px;
            margin-top: 4px;
            margin-right: 8px;
        }

            .header .shop-info option{
                cursor: pointer;
            }

            .header .account-info {
                display: flex;
                align-items: center;
                padding-right: 10px;
            }

        .header .account-info .account-avatar {
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-image: url('assets/icons/avatar-default.png');
            background-size:contain;
        }

        .header .account-info .account-name {
            width: 98px;
            padding: 10px;
            font-weight: 700;
        }

        .header .account-info .account-option {
            height: 16px;
            cursor: pointer;
        }

    .header .items-header{
        width: 60px;
        height: 60px;
        border-right: 1px solid #ccc ;
        background-position: center;
        background-repeat: no-repeat;
    }
    .icons-phone{
        width: 50px !important;
        background-image: url('assets/icons/ic_support.svg');
        background-color: #2b3173 ;
        background-size: 45px 60px;
    }
    .icons-notification{
        background-image: url('assets/icons/notify-18.png');
        background-size: 20px 24px;
    }
     .icons-support{
        background-image: url('assets/icons/icon_help_18.png');
        background-size: 24px 24px;
     }
