.icon-option-default-16 {
    width: 16px;
    height: 16px;
    background-image: url('assets/icon/default-toolbar-small-s-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
}

.btn-toolbar-icon{
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 4px;
    background-image: url('assets/icon/common-icon.png');
    background-repeat: no-repeat;
}

.icon-add {
    background-position: -154px -205px;
}
.icon-multiply{
    background-position: -54px -204px;
}
.icon-edit {
    background-position: -79px -205px;
}
.icon-delete {
    background-position: -105px -204px;
}
.icon-load {
    background-position: -129px -204px;
}
.icon-search {
    background-image: url('assets/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}
.icon-cancel{
    background-position: -255px -155px;
}
.icon-save{
    background-position: -330px -129px;
}
.icon-help{
    background-position: -179px -204px;
}
.icon-add-save{
    background-position: -154px -180px;
}